<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <event_module>
            <general>
                <max_weight>50</max_weight>
            </general>
        </event_module>
    </default>
</config>
