<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Practice_SampleModule::practice" title="Practice" module="Practice_SampleModule" resource="Practice_SampleModule::practice"
		 translate="title" sortOrder="900" action="practice/index/index" />
    </menu>
</config>
