<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="employee_new_entry_name">
        <observer name="employee_entry_logger" instance="MyCompany\RegistrationModule\Observer\LogEmployeeEntry" />
    </event>
    <event name="catalog_product_save_before">
        <observer name="set_default_custom_attributes" instance="MyCompany\RegistrationModule\Observer\SetDefaultCustomAttributes" />
    </event>
</config>
