<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="weight_management" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Weight Management</label>
            <tab>sales</tab>
            <resource>Magento_Config::config</resource>
            <group id="weight_group" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Weight Management</label>
                <field id="weight_field" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Weight Allowed</label>
                    <validate>validate-number</validate>
                </field>
            </group>
        </section>
    </system>
</config>
